h1{
    font-size: 50px;
    text-align: center;
    padding-top: 70px;

}

.center{
    text-align: center;
}

.details{
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 40%;
    width: 20%;
}


@media only screen and (max-width: 900px){
    h1{
        font-size: 30px;
        padding-top: 80px;
    }
    .details{
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 5%;
        width: 50%;
    }
    .center{
        text-align: left;
    }
}